.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 10px;
}

.form h1 {
  font-size: 24px;
}

.form h1,
.form h3,
.form strong,
.label_date,
.h2_modal_delete {
  color: #3f3d56;
}

.form h3 {
  align-self: center;
  margin-bottom: 10px;
}

.container_date {
  width: 300px;
}

.container_time {
  width: 25%;
  align-self: flex-start;
}

.label_date {
  align-self: flex-start;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.input_date {
  height: 50px;
  font-size: 1.6rem;
  color: #1b1b1b;
}

.input_time {
  height: 30px;
}

.input_time,
.input_date {
  width: 100%;
  border: none;
  background-color: #dedede00;
  border-bottom: 1px solid #1d1d1d88;
}

.h2_modal_delete {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.6rem;
}

.red_button {
  background-color: #dd0f0f;
}

.red_button:hover {
  background-color: #cc0f0f;
}

.details_form {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
}

@media (max-width:915px) {
  .form {
    margin-top: 0px;
  }

  .form h1 {
    font-size: 2rem;
  }

  .form p {
    font-size: 1.4rem;
  }

  .form h3 {
    display: none;
  }

  .container_time {
    align-self: center;
  }

  .container_time,
  .details_form {
    width: 300px;
  }

  .details_form {
    align-self: center;
    padding: 20px;
  }
}