@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("../animations/animation.module.css");

:root {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3d56;
  border-radius: 10px;
}

.MuiBottomNavigationAction-root,
.MuiTableCell-body:last-of-type,
.MuiTableCell-body:nth-last-child(2) {
  transition: all 0.3s;
}

.MuiBottomNavigationAction-root:hover,
.MuiTableCell-body:last-of-type:hover,
.MuiTableCell-body:nth-last-child(2):hover {
  transform: scale(1.08);
}

.MuiBottomNavigationAction-label {
  font-size: 1rem;
}

.MuiSvgIcon-root {
  font-size: 3.6rem;
}

.MuiBottomNavigationAction-root {
  color: #ffffff;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #85ea2d;
}

.MuiBottomNavigationAction-label.Mui-selected {
  font-size: 1rem;
}

/*  */
.MuiButton-root {
  margin-bottom: 25px;
  height: 35px;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 15px;
  background-color: #73c927;
}

.MuiButton-root:hover {
  background-color: #69b824;

}

.MuiPaper-root {
  border-radius: 15px;
  background-color: #e6e6e6;
}

.MuiTableCell-body {
  font-size: 1.3rem;
  text-align: center;
}

.MuiTableCell-body:last-of-type,
.MuiTableCell-body:nth-last-child(2) {
  cursor: pointer;
}

.MuiTableCell-head,
.MuiTablePagination-root,
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #3f3d56;
}

/*  */

.MuiBox-root {
  border-radius: 20px;
  background-color: #e6e6e6;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: right;
}

.MuiTypography-root {
  font-size: 1.7rem;
  color: #3f3d56;
}

.MuiTypography-h6 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: underline;
}