.form {
  height: 100%;
  color: currentColor;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.form h1 {
  font-size: 28px;
  color: #3f3d56;
}

.form h3 {
  align-self: center;
  color: #3f3d56;
  margin-bottom: 10px;
}

.form strong {
  color: #3f3d56;
}

.container_date {
  width: 100%;
}

.container_time {
  width: 25%;
  align-self: flex-start;
}

.label_date {
  margin-top: 20px;
  align-self: flex-start;
  font-size: 1.4rem;
  color: #3f3d56;
  font-weight: 700;
}

.input_date {
  height: 50px;
  font-size: 1.6rem;
  color: #1b1b1b;
}

.input_time {
  height: 30px;
}

.input_time,
.input_date {
  width: 100%;
  border: none;
  background-color: #dedede00;
  border-bottom: 1px solid #1d1d1d88;
}

.h2_modal_delete {
  text-align: center;
  font-size: 2.6rem;
  color: #3f3d56;
  margin-bottom: 30px;
}

.red_button {
  background-color: #dd0f0f;
}

.red_button:hover {
  background-color: #cc0f0f;
}

.details_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  align-self: flex-start;
  border: 1px solid #1b1b1b;
}