.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  width: 100vw;
  height: 90px;
  background-color: #1b1b1b;
  color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header h1 span {
  color: #85ea2d;
}

@media (max-width:840px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding-top: 10px;
  }

  .header h1 {
    font-size: 29px;
  }
}

@media (max-width:600px) {
  .header {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
  }

  .header h1 {
    font-size: 27px;
  }
}