.nav_bar {
  background: none;
}

.nav_bar .close_icon_menu,
.nav_bar .open_icon_menu {
  display: none;
}

.nav_bar.bottons_nav {
  display: flex;
}

@media (max-width:600px) {

  .nav_bar .close_icon_menu,
  .nav_bar .open_icon_menu {
    display: block;
    font-size: 3.5rem;
  }

  .nav_bar .close_icon_menu {
    position: absolute;
    top: 45px;
    right: 20px;
  }

  .nav_bar.modal_fullscreen {
    display: flex;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    padding-top: 140px;
    border-radius: 0;
    background-color: #1b1b1b;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav_bar.modal_fullscreen .bottons_nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottons_nav {
    display: none;
    gap: 20px;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
  }
}